<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="UTF-8" />
<title>AngularJS</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
<script src="i18n/angular-locale_ja-jp.js"></script>
<script src="scripts/order.js"></script>
</head>
<body ng-controller="MyController">
<table class="table">
  <tr>
    <th>書名</th><th>価格</th><th>出版社</th><th>刊行日</th>
  </tr>
  <tr ng-repeat="book in books | orderBy: 'price'">
  <!--<tr ng-repeat="book in books | orderBy: '-price'">-->
  <!--<tr ng-repeat="book in books | orderBy: 'price': true">-->
    <td><a ng-href="http://www.wings.msn.to/index.php/-/A-03/{{book.isbn}}/">
      {{book.title}}</a></td>
    <td>{{book.price}}円</td>
    <td>{{book.publish}}</td>
    <td>{{book.published | date}}</td>
  </tr>
</table>
</body>
</html>
