<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="UTF-8" />
<title>AngularJS</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
<script src="scripts/event2.js"></script>
</head>
<body>
<div ng-controller="PrevController">
  <label for="name">name:</label>
  <input id="name" type="text" ng-model="name">
  <button ng-click="onclick()">submit</button>
</div>
<hr>
<div ng-controller="NextController">
  {{result}}
</div>
</body>
</html>
