<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="UTF-8" />
<title>AngularJS</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
<script src="scripts/event.js"></script>
</head>
<body>
<div ng-controller="ParentController">
  parent: {{parentResult}}
  <hr>
  <div ng-controller="MyController">
    current:
    <input type="text" ng-model="message">
    <button ng-click="onemit()">notify to upper</button>
    <button ng-click="onbroad()">notify to lower</button>
    <hr>
    <div ng-controller="Child1Controller">
      child1: {{child1Result}}
    </div>
    <hr>
    <div ng-controller="Child2Controller">
      child2: {{child2Result}}
    </div>
  </div>
</div>
</body>
</html>
