<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="UTF-8" />
<title>AngularJS</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
<script src="scripts/event2.js"></script>
</head>
<body>
  <div ng-controller="PrevController">
    <label for="name">名前：</label>
    <input id="name" type="text" ng-model="name" />
    <button ng-click="onclick()">送信</button>
  </div>
  <hr />
  <div ng-controller="NextController">
    {{result}}
  </div>
</body>
</html>
