<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="UTF-8" />
<title>AngularJS</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
<script src="scripts/watch_array.js"></script>
</head>
<body ng-controller="MyController">
<form>
  <label>
    底辺:
    <input type="number" ng-model="triangle.base" size="3">
  </label>
  <label>
    高さ:
    <input type="number" ng-model="triangle.height" size="3">
  </label>
  三角形の面積: {{area}}
</form>
</body>
</html>
