<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="UTF-8" />
<title>AngularJS</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
<script src="scripts/form_required.js"></script>
</head>
<body ng-controller="MyController">
<form name="myForm" ng-submit="onsubmit()" novalidate>
  <div>
    <label for="send">メール送信：</label><br />
    <input id="send" name="send" type="checkbox" ng-model="user.send" />
  </div>
  <div>
    <label for="mail">メールアドレス：</label><br />
    <input id="mail" name="mail" type="email" ng-model="user.mail"
      ng-required="user.send" />
    <span ng-show="myForm.mail.$error.required">
      メールを送信する場合、メールアドレスは必須です。</span>
    <span ng-show="myForm.mail.$error.email">
      メールアドレスを正しい形式で入力してください。</span>
  </div>
  <div>
    <input type="submit" value="登録"
      ng-disabled="myForm.$invalid" />
  </div>
</form>
</body>
</html>
