<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="UTF-8" />
<title>AngularJS</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
<script src="scripts/readonly.js"></script>
</head>
<body ng-controller="MyController">
<form name="myForm" novalidate>
  <div>
    <label for="mail">
      メールアドレス：
    </label>
    <br>
    <input id="mail" name="mail" type="email" ng-model="user.mail"
      ng-readonly="!canedit">
    <label>
      <input type="checkbox" ng-model="canedit">
    </label>
  </div>
</form>
</body>
</html>
