<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="UTF-8" />
<title>AngularJS</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
<script src="scripts/jsonp.js"></script>
</head>
<body ng-controller="MyController">
  <form>
    <label for="url">URL：</label>
    <input id="url" type="url" size="50" ng-model="url">
    <button ng-click="onclick()">検索</button>
  </form>
  <div>{{count}}</div>
  <ul>
    <li ng-repeat="comment in comments track by $index">{{comment}}</li>
  </ul>
</body>
</html>
