.container > .panel {
    border: 1px #ccc;
    border-style: solid;
    border-radius: 0px 0px 4px 4px ;
    float: left;
    margin-left: 40px;
    width: 874px;
}

.container > ul li {
    list-style-type:none;
    background-color: #eee;
    border: 1px #ccc;
    border-style: solid solid none;
    border-radius: 4px 4px 0 0;
    text-decoration: none;
    float: left;
    text-align: center;
    width: 290px;
}

.container > ul li.selected {
  background-color: #000;
}

.container > ul li.selected a {
  color: #fff;
}