<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="UTF-8" />
<title>AngularJS</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
<script src="scripts/model_opts_rollback.js"></script>
</head>
<body ng-controller="MyController">
<form name="myForm">
  <label for="myName">名前：</label>
  <input id="myName" name="myName" type="text" ng-model="myName" 
    ng-model-options="{ debounce: 5000 }" />
  <div ng-bind="'こんにちは、' + myName + 'さん！'"></div>
  <button ng-click="onclick()">ログ出力</button>
</form>
</body>
